/*.la
/*.lo
/.deps
/.libs
/Makefile
/Makefile.in
/core
/mpf_compat
/mpfr_compat
/reuse
/tabs
/tacos
/tacosh
/tadd
/tadd1sp
/tadd_ui
/tagm
/tasin
/tasinh
/tatan
/tatanh
/tcan_round
/tcbrt
/tcheck
/tcmp
/tcmp2
/tcmp_d
/tcmp_ld
/tcmp_ui
/tcmpabs
/tcomparisons
/tconst_catalan
/tconst_euler
/tconst_log2
/tconst_pi
/tcopysign
/tcos
/tcosh
/tcot
/tcoth
/tcsc
/tcsch
/tdim
/tdiv
/tdiv_ui
/teint
/teq
/terf
/texceptions
/texp
/texp2
/texpm1
/tfactorial
/tfits
/tfma
/tfrac
/tgamma
/tget_d
/tget_d_2exp
/tget_f
/tget_ld_2exp
/tget_set_d64
/tget_sj
/tget_str
/tget_z
/tgmpop
/thyperbolic
/thypot
/tinits
/tinp_str
/tinternals
/tisnan
/tj0
/tj1
/tjn
/tlgamma
/tlngamma
/tlog
/tlog1p
/tlog2
/tlog10
/tminmax
/tmul
/tmul_2exp
/tmul_ui
/tnext
/tout_str
/toutimpl
/tpow
/tpow3
/tpow_z
/trandom
/trint
/troot
/tround_prec
/tsec
/tsech
/tset
/tset_d
/tset_exp
/tset_f
/tset_ld
/tset_q
/tset_si
/tset_sj
/tset_str
/tset_z
/tsgn
/tsi_op
/tsin
/tsin_cos
/tsinh
/tsqr
/tsqrt
/tsqrt_ui
/tstckintc
/tstrtofr
/tsub
/tsub1sp
/tsub_ui
/tsubnormal
/tsum
/tswap
/ttan
/ttanh
/ttrunc
/tui_div
/tui_pow
/tui_sub
/tversion
/ty0
/ty1
/tyn
/tzeta
/tzeta_ui
